@import url('https://fonts.googleapis.com/css?family=Anton');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 200px;
}

.App-header {
  background-color: #ad210a;
  height: 350px;
  padding: 10px;
  color: #601f1f;
}

.App-title {
  font-size: 5.0em;
  font-family: 'Anton', sans-serif;
}

.App-intro {
  padding: 20px;
  font-size: 3.0em;
  font-family: 'Anton', sans-serif;

}




@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
